#llamar{
    z-index: 10; 
    position:fixed;
    text-align:center;
    font-family: "montserrat-regular", sans-serif;
    color:white;
    bottom: 15px;
    right: 100px;
    background-color: rgb(68, 0, 255);
    width:250px;
    padding:14px 0;
    border-radius:50px;
    border:5px solid white;
    background-size: 100%;
    background-repeat: no-repeat;
     background-position: center;  
}

#llamar {
    /* animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    animation: shake 2.5s infinite; */
    animation: shake-animation 1s ease infinite;
    transform-origin: 50% 50%;
    transform: translate3d(0, 0, 0);
    animation-duration: 4s;
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
  }


  @keyframes shake-animation {
    0% { transform:translate(0,0) }
   1.78571% { transform:translate(5px,0) }
   3.57143% { transform:translate(0,0) }
   5.35714% { transform:translate(5px,0) }
   7.14286% { transform:translate(0,0) }
   8.92857% { transform:translate(5px,0) }
   10.71429% { transform:translate(0,0) }
   100% { transform:translate(0,0) }
 }



.floating-wpp-button{
    background-color: green;
}


@media only screen and (max-width:700px){
    #llamar{
        left:10px;
        right: auto;
    }
}


/*//////////////TITULOS//////////////*/
.tituloSeccion {
  text-align: center;
  position: relative;
  padding: 2rem 4rem 0 4rem;
}
.azul{
  background-color:#2a2d34;
}

.tituloSeccion > h1 {
  font-family: "librebaskerville-bold", serif;
  display:inline-block;
  font-size: 4.8rem;
  line-height: 1.375;
  color: rgba(252, 252, 252, 0.918);
  text-shadow: -1px -1px-1px #777474;
  margin-bottom:0px !important;
}



/*///////////////////////PRODUCTOS DESTACADOS////////////////////////*/
#productosDestacados{
  /* background-image: url("../images/fondoCirculos.jpg"); */
  background-color:whitesmoke;
  background-size:20%;
  background-repeat: repeat;
}

.fluido{
  display:flex;
  width:100%;
  padding:4rem 5%;
  padding-bottom:6rem;
}


.contenedor{
  display:flex;
  align-items: center;
  align-content: center;
  justify-content:center; 
  justify-items:center;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  width:100%;
}

.flexrr{     
    display:flex;
}

@media (max-width:760px){
  .contenedor{
    display:block;
  }
  .flexrr{
      display:block;
  }

}

#producto{
  z-index:-20;

}


#svg2{
  background-image: url("../images/fondoCirculos.jpg");
  background-size:20%;
  background-repeat: repeat;
  vertical-align:top;
}

/*///////////////////////NSOTOROS///////////////////////*/
.negro{
  color:rgb(46, 46, 46);
  font-size:2.5rem;
  line-height:2;
  padding:0 4rem 4rem 4rem;
}

.negro2{
    color:rgb(46, 46, 46);
    font-size:1.5rem;
    line-height:2;

  }

  .blanco{
    color:rgb(192, 192, 192);
    font-size:2rem;
    line-height:2;
    padding: 2rem 6rem;

  }

  @media (max-width:760px){
    .blanco{
        font-size:1.5rem;
        line-height:2;
        padding: 2rem 1rem;
    }
    .negro{
        font-size:2rem;
        line-height:2;
        padding: 1rem 0.5rem;
    }
    #castillo{
        padding:0 0;
    }
  }

#imagen_galeria{
    width:30%;
    object-fit:contain;
}
@media (max-width:760px){
    #imagen_galeria{
      width:100%;
    }
  }


#castillo{
    /* background-image: url(../images/FUERTE.PNG); */
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    background-position: center top;
    height:100vh;
    padding:0 4rem;
}

@media (max-width:760px){

    #castillo{
        padding:0 0;
    }
  }


.fondonaranja{
  background-color:#e26d12;
}


.subtituloDeCategoria{
  color:white
}
/*///////////////////////NUESTROS PRODUCTPS///////////////////////*/

.promocion{
    text-align:center;
    width:25%;
    margin: 1rem;

    /* border-radius:15px 15px 0 0; */
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    height:25vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%); */
    background-color:black;
    -webkit-box-shadow: 18px 25px 40px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 25px 40px -17px rgba(0,0,0,0.75);
box-shadow: 18px 25px 40px -17px rgba(0,0,0,0.75);
}

.overlay{
    position:absolute;
    top:0;
    left:0;

}

.uno{      background-size:cover;background-image: url(../images/categorias/uno.png);}
.dos{      background-size:cover;background-image: url(../images/categorias/dos.jpg);}
.tres{     background-size:cover;background-image: url(../images/categorias/tres.jfif);}
.cuatro{   background-size:cover;background-image: url(../images/categorias/cuatro.jpg);}
.cinco{    background-size:cover;background-image: url(../images/categorias/cinco.jfif);}
.seis{     background-size:cover;background-image: url(../images/categorias/seis.jfif);}
.siete{    background-size:cover;background-image: url(../images/categorias/siete.jfif);}
.ocho{     background-size:cover;background-image: url(../images/categorias/ocho.jfif);}
.nueve{    background-size:cover;background-image: url(../images/categorias/nueve.jpg);}
.diez{     background-size:cover;background-image: url(../images/categorias/diez.jpg);}



.home-content-tablecell{
    vertical-align: none !important;
}



.titulo{
    font-family: "librebaskerville-regular", serif;
  color:white;
 FONT-SIZE:2REM;
  margin:0;
  line-height:1;
  background-color:rgba(0, 0, 0, 0.685);
  padding:2rem 0 ;
  padding-bottom:3rem;
  border-radius:20px 0 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%); 
}





.subtituloDeCategoria{
  font-family: "librebaskerville-regular", serif;
  font-size: 1.5rem;
}

@media (max-width:760px){
  .promocion{
    width:90%;
  }
}


#alguna{
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%); 
}

#homeicon{
  display: block;
  position: fixed;
  left: 32px;
  top: 30px;
border-radius:200px;
  font-family: "montserrat-regular", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#logo3{
height:42px;
width:52px;
margin:1rem;
/* width:100% !important; */
}





#table_container{
  padding:0;;
  margin:0;

  padding-bottom:0;
  margin-bottom:10rem;
  width:100%;

}

.carousel-caption > h5{
  font-size:6rem;
  background-color:rgba(118, 118, 118, 0.337);
}

.carousel-caption > p{
  font-size:2rem;
  background-color:rgba(118, 118, 118, 0.337);
}



@media (max-width:770px){
  #table_container{
      padding:0rem;
      margin: 3rem 0rem;
      padding-bottom:0;
     
      width:100%;
  }
  .carousel-caption > h5{
      font-size:2rem;
  }
  #logo3{
    height:25px;
    width:35px;
    margin:1rem;
  }
  .container{
    margin:0;
    padding:0rem;
  }
  #carrousel{
    margin:2rem 0;
  }
  
}



  #asesoramiento_button{
    text-align:center;
    font-family: "montserrat-regular", sans-serif;
    color:white;
    background-color: transparent;

    padding:2rem;
    border-radius:50px;
    border:2px solid white;
    margin-top:10rem;

}

#div_asesoramiento{
    margin:4rem;
}

@media (max-width:760px){
    #div_asesoramiento{
      margin:8rem;
    }
  }

  
  #asesoramiento_button2{
    text-align:center;
    font-family: "montserrat-regular", sans-serif;
    color:white;
    background-color: transparent;

    padding:2rem;
    border-radius:50px;
    border:2px solid white;
    margin-top:10rem;

}

#div_asesoramiento2{
    margin:4rem;
    text-align:center;
}

@media (max-width:760px){
    #div_asesoramiento2{
      margin:8rem;
    }
  }
