#table_container{
	padding:0 3rem;
}

@media (max-width:760px){
    #table_container{
        padding:0;margin: 0;
    }
    th td {
        padding: 1.5rem 3rem !important;
    }
}

select.form-control:not([size]):not([multiple]) {
    height: 100%; 
}

.form-control {
    left:2rem;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-input:placeholder-shown{
    width:100%;
    background-image: url("../images/buscar.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
     border:1px rgb(32, 32, 32) solid !important; 
 
}

.search-input:hover{
   width:100%;  
   background-image: none !important;
    border:1px rgb(32, 32, 32) solid !important; 

}

.search-input:focus{
   background-image: none !important;
}


.search-input::placeholder{
    color:rgba(149, 20, 20, 0) !important;
}
body{
    margin:0;
    padding:0;
}

#homeicon{
    display: block;
    position: fixed;
    left: 32px;
    top: 30px;
  border-radius:200px;
    font-family: "montserrat-regular", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #logo3{
  height:42px;
  width:42px;
  margin:1rem;
  /* width:100% !important; */
  }
  
 


  .info.groupBy{
    font-family: "librebaskerville-bold", serif;
    background-color:#212529;
    color:white;
    font-size:3rem;
    padding:1rem;
}



@media only screen and (max-width: 480px) {
    .columns.columns-right.btn-group.float-right{
      display:none;
    }

	#rubro{
		display:none;
	}
    .float-left.search.btn-group{
        width:100%;
    }
    .cabecera{
        padding-top:8em;
        padding-bottom:10em;
    }
    #seccionLista{
        padding-top:2Vmin;
   
    }
    td {
        font-size:4vmin;
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom:1rem;
    }
    .card-view-title{
        font-size:3.3vmin;
        display:none;
        width:10%;
        font-family:Arial, Helvetica, sans-serif;
        margin-bottom:1rem;
    }
    
	thead{
		display:none;
    }

    .table-bordered td, .table-bordered th {
      border-bottom: 1px solid #006edd;

  }
/*     
    tr > td > div >  div:first-child >span{
        font-weight: bold;
        color: rgb(29, 29, 29);
        background-color:rgba(43, 51, 71, 0);
        font-size: 1.8rem;
        padding-bottom:1rem;
    }
     tr > td > div >  div:nth-child(5){
        font-weight: bold;
        font-style: italic;
        padding-bottom:1rem;
    } 
    tr > td > div >  div:nth-child(2){
        font-size: 1.3rem;
        padding-bottom:1rem;
    }  */
    
  }