<!DOCTYPE html>
<html class="no-js" lang="es">

<head>


	<title>El Fuerte</title>

	<!--METADATA-->
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Distribuidora frutos secos mayorista, atencion a dieteticas">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords"content="frutos secos, frutos deshidratados, Legumbres, semillas, Especias, Condimentos, Reposteria">
	<meta name="author" content="Sideral.dev">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Mayorista El Fuerte" />
	<meta property="og:description" content="Distribuidora mayorista de Frutos Secos" />
	<meta property="og:url" content="https://www.mayoristaelfuerte.com" />
	<meta property="og:site_name" content="Mayorista El Fuerte" />
	<meta name="twitter:title" content="Mayorista El Fuerte">
	<meta name="twitter:description" content="Distribuidora de frutos secos">
	<meta name="twitter:image" content="https://www.libreria770.com/images/fondoNaranja.jpg">
	<link rel="icon" type="image/png" href="/images/fondoNaranja.jpg" />
	<!--STYLESHEETS-->
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/vendor.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/personal.css">
	<link rel="stylesheet" href="../css/index.css">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="../css/micons/micons.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/personal.css">
	<link rel="stylesheet" href="../css/dietetica.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

		<link rel="stylesheet" href="../css/micons/micons.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/personal.css">
	
		<script src="../js/src/modernizr.js"></script>
		<script src="../js/src/pace.min.js"></script>

</head>


<body style="background-color:#111111;" >


<!-- SIDE MENU================================================== -->
<header>

	<a id="homeicon" href="../../index.html">
		<img id="logo" src="../images/logoRenova.png"></img>
	</a>
	
	<a id="header-menu-trigger" href="#0">
		<span class="header-menu-text">Menu</span>
		<span class="header-menu-icon"></span>
	</a>
	<nav id="menu-nav-wrap">
		<a href="#0" class="close-button" title="close"><span>Close</span></a>
		<h3>EL FUERTE</h3>
		<ul class="nav-list">
			<li><a class="" href="../../index.html" title="">HOME</a></li>
			<li><a class="" href="../html/login.html" title="">LISTAS</a></li>
			<li><a class="" href="" title="">ASESORAMIENTO</a></li>

			<!-- <li><a class="" href="views/html/resumenDeCuenta.html" title="" style="color:orange">Ingresar a mi cuenta</a></li>						 -->
		</ul>
	</nav> <!-- end #menu-nav-wrap -->

</header> <!-- end header -->


<!-- LSITA DE PRECIOS
================================================== -->
<section id="productosDestacados">
	<div class="tituloSeccion azul">
		<h1 id="tituloh2">Asesoramiento</h1>                                                                                                                                                                                                                                                                                                                                                                                                                                           
	</div>

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
		<path fill="#2a2d34" fill-opacity="1" d="M0,32L1440,96L1440,0L0,0Z"></path>
	</svg>


<!--INTOR=========================-->
<section class="intro">
	<div class="container">
		<h2 class="subtitulo">Abrir una dietetica</h2>
		<p class="descripcion">
			Llevamos abiertas mas de XX dieteticas. nuestros xx años de experiencia nos han permitidos
			identificar los factores claves para tener exito de un negocio en este rubro.
			Si bien existen las particularidades, hay algunas reglas generales que aplican al negocio en general.
			Con una amplia experiencia brindando asesoramiento 
			ante las inquietudes que surgen a la hora de abrir una dietética, 
			te mostramos algunos neogcios que hemos asistido y te
			detallamos algunas de las areas en las que te podemos asistir.
		</p>
	</div>



</section>


<!--CARROUSEL=====================-->
<section>
	<div id="table_container">

		<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
			</ol>



			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../images/dietetica/tuvidasana.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>TU VIDA SANA</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.s</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="../images/dietetica/alamamora.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>ALAMAMORA</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="../images/dietetica/pilardevida.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>PILAR DE VIDA</h5>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="../images/dietetica/ellazorojo.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>EL LAZO ROJO</h5>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
					</div>
				</div>

			</div>

			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>

	</div>

</section>


<!--AREAS DE ASESORAMIENTO===========================-->
<section>

	<div class="container">
		<div class="services-list block-1-2 block-tab-full group">
		   <div class="bgrid service-item animate-this">	
			   <!-- <span class="icon"><i class="icon-paint-brush"></i></span>             -->
			 <div class="service-content">
				
				 <h2 class="h05 subtitulo" id="tituloServicios1"></h2>
				 <p class="negro descripcion" id="descServicios1"></p></div> 	         	 
		 </div>

		 <div class="bgrid service-item animate-this">	
			 <!-- <span class="icon"><i class="icon-earth"></i></span>                           -->
			 <div class="service-content">
				 <h3 class="h05 subtitulo " id="tituloServicios2"></h3>
				 <p class="negro descripcion" id="descServicios2"></p></div>	                          
		 </div>
		 
	 </div>	
	</div>


	<div class="container">
		<div class="services-list block-1-2 block-tab-full group">
		   <div class="bgrid service-item animate-this">	
			   <!-- <span class="icon"><i class="icon-paint-brush"></i></span>             -->
			 <div class="service-content">
				
				 <h2 class="h05 subtitulo" id="tituloServicios3"></h2>
				 <p class="negro descripcion" id="descServicios3"></p></div> 	         	 
		 </div>

		 <div class="bgrid service-item animate-this">	
			 <!-- <span class="icon"><i class="icon-earth"></i></span>                           -->
			 <div class="service-content">
				 <h3 class="h05 subtitulo " id="tituloServicios4"></h3>
				 <p class="negro descripcion" id="descServicios4"></p></div>	                          
		 </div>
		 
	 </div>	
	</div>

</section>




<!-- NOVEDADES
================================================== -->
<section>
	<svg id="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150"> productos destacados
		<path fill="#e26d12" fill-opacity="1" d="M0,128L80,128C160,128,320,128,480,106.7C640,85,800,43,960,37.3C1120,32,1280,64,1360,80L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
	</path></svg>
	<div class="tituloSeccion fondonaranja">
		<h1>Nuestros Productos</h1>
	</div>
		<div class="fluido fondonaranja">
			<div class="contenedor">
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
				
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
	
				<div class="promocion">
					<div id="imagenCategoria"></div>
					<div style="margin:10px" id="textoCateogria">
						<h1 class="titulo">Categoria</h1>
						<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
					</div>
				</div>
			</div>
		</div>
</section>




<!-- footer
================================================== -->
<footer style="background-color:#111111;">
	<div class="footer-main">
	  	<div class="row" style="margin:4rem;">  
			<div class="col-three tab-full footer-about">       
			   <h4 class="h05">MAYORISTA EL FUERTE</h4>
			   <p class="col-nine"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" id="qrAfip" ></a></p>	            
			</div> <!-- end footer-about -->
			<div class="col-three tab-full footer-social">
	   		<h4 class="h05">Seguinos</h4>
				<ul class="list-links">
					<li><a href="#">Mail</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Google</a></li>
				</ul>
			</div> 
		</div> 
	</div> 

  	<div class="footer-bottom">
	</div> <!-- end footer-main -->

</div> <!-- end footer-bottom -->
</footer>




</body>
<script src="../js/src/plugins.js"></script>
<script src="../js/src/main.js"></script>
<script type="module" src="../js/dietetica.js"></script>


</html>