<!DOCTYPE html>
<html class="no-js" lang="es">
<head>


<title>El Fuerte</title>

<!--METADATA-->
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" 		content="Distribuidora frutos secos mayorista, atencion a dieteticas">
<meta name="viewport" 			content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" 			content="frutos secos, frutos deshidratados, Legumbres, semillas, Especias, Condimentos, Reposteria">
<meta name="author" 			content="Sideral.dev">
<meta property="og:type" 		content="website" />
<meta property="og:title" 		content="Mayorista El Fuerte" />
<meta property="og:description" content="Distribuidora mayorista de Frutos Secos" />
<meta property="og:url" 		content="https://www.mayoristaelfuerte.com" />
<meta property="og:site_name" 	content="Mayorista El Fuerte" />
<meta name="twitter:title" 		content="Mayorista El Fuerte">
<meta name="twitter:description"content="Distribuidora de frutos secos">
<meta name="twitter:image"		content="https://www.libreria770.com/images/fondoNaranja.jpg">
<link rel="icon" 				type="image/png" href="/images/fondoNaranja.jpg"/>
<!--STYLESHEETS-->

<link rel="stylesheet" 		href="../css/vendor.css">
<link rel="stylesheet" 		href="../css/main.css">
<link rel="stylesheet" 		href="../css/personal.css">
<link rel="stylesheet" 		href="../css/index.css">

<link rel="stylesheet" 		href="../css/base.css">


<!-- sticky header          --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<!-- sticky header          --><link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"> 
<!-- sticky header          --><link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet">

<
<!-- jquery                 --><script src="../js/src/jquery.js"></script>
<!-- helpers                --><script src="../js/src/helpers.js"></script>
<!-- sticky header          --><script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script> 
<!-- sticky header          --><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script> 
<!-- sticky header          --><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script> 
<!-- sticky header          --><script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"> </script> 
<!-- sticky header          --><script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<!-- exportacion            --><script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<!-- exportacion            --><script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<!-- exportacion            --><script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<!-- exportacion            --><script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<!-- fija columna 1         --><script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
<!-- table para mobile      --><script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<!-- print pantalla         --><script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/print/bootstrap-table-print.min.js"></script>
<!-- loading template       --><link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">
<!-- group by column        --><script src="https://unpkg.com/bootstrap-table@1.18.0/dist/extensions/group-by-v2/bootstrap-table-group-by.min.js"></script> 

<link rel="stylesheet" href="../css/micons/micons.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../css/personal.css">
<link rel="stylesheet" 		href="../css/listas.css">
<script src="../js/src/modernizr.js"></script>
<script src="../js/src/pace.min.js"></script>


</head>




<!-- WPP BUTTON ================================================== -->
<!-- <div id="WAButton" style="font-family: Arial, Helvetica, sans-serif; z-index:10;"></div>
<div ><a id="llamar" href="tel:1145523070">LLAMANOS!</a></div> -->
<
<body style="background-color:#111111;margin:0;padding:0">>
<!-- SIDE MENU================================================== -->
<header>
<a id="homeicon" href="../../index.html">
	<img id="logo" src="../images/logoRenova.png"></img>
</a>


<a id="header-menu-trigger" href="#0">
		<span class="header-menu-text">Menu</span>
		<span class="header-menu-icon"></span>
	</a> 
	<nav id="menu-nav-wrap">
		<a href="#0" class="close-button" title="close"><span>Close</span></a>	
		<h3>EL FUERTE</h3>  
		 <ul class="nav-list">
			<li><a class="" href="../../index.html" title="">HOME</a></li>
			<li><a class="" href="" title="">LISTAS</a></li>
			<li><a class="" href="./dietetica.html" title="">ASESORAMIENTO</a></li>

			 <!-- <li><a class="" href="views/html/resumenDeCuenta.html" title="" style="color:orange">Ingresar a mi cuenta</a></li>						 -->
		 </ul>	
	 </nav>  <!-- end #menu-nav-wrap -->

</header> <!-- end header -->  


<!-- LSITA DE PRECIOS
================================================== -->
<section id="productosDestacados">
	<div class="tituloSeccion azul">
		<h1>Listas de Precios</h1>
		
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150"><path fill="#2a2d34" fill-opacity="1" d="M0,32L1440,96L1440,0L0,0Z"></path></svg>

	<div id="table_container">
		<div class="toolbar" style="width:20%; font-size:1.7rem">
			<select id="select" class="form-control" name="filterAlgorithm" id="formList">
				<option value="Todas las Categorias" class="form-control">Todas las categorias</option>
				<option value="1. Fruta seca y desecada" class="form-control">Fruta Seca y Desecada</option>
				<option value="2. Fruta Glaseada" class="form-control">Fruta Glaseada</option>
				<option value="3. Mix & Snacks" class="form-control">Mix & Snacks</option>
				<option value="4. Legumbres & Arroces" class="form-control">Lagumbres & Arroces</option>
				<option value="5. Semillas" class="form-control">Semillas</option>
				<option value="6. Gourmet" class="form-control">Gourmet</option>
				<option value="7. Almacen" class="form-control">Almacen</option>
				<option value="8. Suplementos" class="form-control">Suplementos</option>
				<option value="9. Especias" class="form-control">Especias</option>
				<option value="10. Chocolate" class="form-control">Chocolate</option>
			</select>
			<!-- <button class="btn btn-secondary" id="filterBy" >filterBy</button> -->
		  </div>
<!-- data-show-print="true"					  -->
<!-- data-show-columns="true" -->
			<table	class="border-success"  style="background-color:rgb(255, 255, 255)" width=100%  id="myTable"
				data-mobile-responsive="true"
				data-search="true"
				data-search-placeholder="Buscar"
				data-search-align="left"
				data-show-export="true"
				data-key-events="true"
				data-fixed-columns="true" 
				data-show-print="true"				 
				data-toolbar-align="left"
				data-show-header="true"
				data-group-by="true"
				data-group-by-field="cate"	
			>
				<thead > 
					  	<tr> 	
							<th data-field="codi" 			data-width-unit="%" >							<span>Codigo		  	</span style="text-align: center;">	</th> 
							<th data-field="desc"  	class="text-wrap">  		Nombre					</span style="text-align: left;"> 	</th> 
							<th data-field="pres"   	data-align="center" data-width-unit="%"	data-card-visible="false">  Presentacion												</th> 
							<!-- <th data-field="cate" 		data-title="categoria" fields="categoria"data-align="center">  		Categoria</th>     -->
							<th data-field="prec"  		data-align="center">  		Precio	 													</th>  
							<th data-field="orig" 			data-align="center">  	</th> 
							<th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">+</th>
						</tr> 
				</thead> 
			</table> 
		</div>		
	</div>
</section>


<!-- NOVEDADES
================================================== -->
<section>
<svg id="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150"> productos destacados
	<path fill="#e26d12" fill-opacity="1" d="M0,128L80,128C160,128,320,128,480,106.7C640,85,800,43,960,37.3C1120,32,1280,64,1360,80L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">

</path></svg>
<div class="tituloSeccion fondonaranja">
	<h1>Nuestros Productos</h1>
</div>
	<div class="fluido fondonaranja">
		<div class="contenedor">
			

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>
			
			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

			<div class="promocion">
				<div id="imagenCategoria"></div>
				<div style="margin:10px" id="textoCateogria">
					<h1 class="titulo">Categoria</h1>
					<h3 class="subtituloDeCategoria">listado 3 productos de categorias</h3>
				</div>
			</div>

	



		</div>
	</div>
</section>



<!-- footer
================================================== -->
<footer style="background-color:#111111;">
	<div class="footer-main">
	  	<div class="row" style="margin:4rem;">  
			<div class="col-three tab-full footer-about">       
			   <h4 class="h05">MAYORISTA EL FUERTE</h4>
			   <p class="col-nine"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" id="qrAfip" ></a></p>	            
			</div> <!-- end footer-about -->
			<div class="col-three tab-full footer-social">
	   		<h4 class="h05">Seguinos</h4>
				<ul class="list-links">
					<li><a href="#">Mail</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Google</a></li>
				</ul>
			</div> 
		</div> 
	</div> 

  	<div class="footer-bottom">
	</div> <!-- end footer-main -->

</div> <!-- end footer-bottom -->
</footer>



<!-- Java Script
================================================== --> 


</body>
<script src="../js/src/plugins.js"></script>
<script src="../js/src/main.js"></script>
<script  src="../js/listaService.js"></script>











</html>








